[submodule "RepoFetcher/vendor/nlohmann_json"]
	path = RepoFetcher/vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "RepoFetcher/vendor/fmtlib"]
	path = RepoFetcher/vendor/fmtlib
	url = https://github.com/fmtlib/fmt
